APP_NAME='CMP Generator'
APP_ENV=local
APP_KEY=base64:EEvKiHecUzCpD375en4shoJd6yz0IxGgGwsA5Cy2RhI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cmp
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@sandboxa5f3d30c9ed24b6c91508ee208cfb06a.mailgun.org
MAIL_PASSWORD=0beaf579a5b4e819cf08f87137c0721e-c9746cf8-8d6a48c0
MAIL_ENCRYPTION=SSL
MAIL_FROM_ADDRESS="OptimumFoodie@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Domain Name
MAILGUN_DOMAIN=sandboxa5f3d30c9ed24b6c91508ee208cfb06a.mailgun.org
# Domain Secret / API Key
MAILGUN_SECRET=a15f3c349ede43f562b34a7533f6b14a-c9746cf8-3b5be959

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
